<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288912430975-lfjd09g2ou3hj1kce97d787kskt92fbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288912430975-lfjd09g2ou3hj1kce97d787kskt92fbh</string>
	<key>API_KEY</key>
	<string>AIzaSyD3z108kYIBH_UnQma7hkTvI9ke3ePkOm4</string>
	<key>GCM_SENDER_ID</key>
	<string>288912430975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Win.Baselayer</string>
	<key>PROJECT_ID</key>
	<string>baselayer-c3f23</string>
	<key>STORAGE_BUCKET</key>
	<string>baselayer-c3f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288912430975:ios:a41f1e04d1c96d1d78ec4a</string>
	<key>DATABASE_URL</key>
	<string>https://baselayer-c3f23.firebaseio.com</string>
</dict>
</plist>